/*  
Autores: 
Axel Castañeda Sánchez 
Antonio Albuerne Silva
Alyn Layla Nila Vélez
Luis Roberto Rodríguez Marroquin 
Sebastián Villaluz Martínez
Daniela Zuno Aguilar

Descripción:   
Este archivo contiene los estilos CSS para la página de inicio de sesión de la aplicación web.
*/

body {
  display: flex; /* Usamos flexbox para organizar la disposición de los elementos en la página */
  height: 100vh; /* Altura completa de la ventana del navegador */
  background-color: #ffffff; /* Fondo blanco */
  margin: 0; /* Eliminamos el margen por defecto */
  font-family: Arial, sans-serif; /* Establecemos la fuente de la página */
}

.left-side {
  flex: 0.4; /* El lado izquierdo ocupa el 40% del espacio */
  background-image: url('imagen/fondo.jpeg'); /* Imagen de fondo para el lado izquierdo */
  background-size: cover; /* Asegura que la imagen cubra completamente el área */
  background-position: center; /* Centra la imagen en el área */
  display: flex; /* Usamos flexbox para la disposición de los elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.right-side {
  flex: 0.6;  /* El lado derecho ocupa el 60% del espacio */
  display: flex; /* Usamos flexbox para la disposición de los elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  position: relative; /* Establece la posición relativa para los elementos dentro */
}

.container {
  display: flex; /* Usamos flexbox para la disposición de los elementos */
  flex-direction: column;  /* Los elementos se organizan en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  gap: 15px; /* Espacio entre los elementos dentro del contenedor */
}

.icon {
  width: 110px; /* Ancho de cada icono */
  height: 110px; /* Alto de cada icono */
  background-image: url('imagen/logo.png'); /* Imagen de fondo para el icono */
  background-size: cover; /* Asegura que la imagen cubra completamente el área del icono */
  border-radius: 40%; /* Bordes redondeados para darle forma circular */
}

.login-text {
  width: 500px; /* Ancho del cuadro de texto */
  text-align: center; /* Centra el texto */
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: bold; /* Establece el texto en negrita */
  margin-bottom: 15px; /* Añade un margen en la parte inferior */
}

.dashed-box {
  width: 500px; /* Ancho del cuadro */
  height: 50px; /* Altura del cuadro */
  border: 2px dashed black; /* Borde discontinuo de color negro */
  background: transparent; /* Fondo transparente */
  display: flex; /* Usamos flexbox para la disposición de los elementos dentro del cuadro */
  align-items: center;  /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Establece el texto en negrita */
  color: black; /* Color del texto */
}

.login-box {
  background-color: #808080; /* Color de fondo gris para el cuadro de inicio de sesión */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Añade espacio interior */
  width: 300px; /* Ancho del cuadro de inicio de sesión */
  display: flex; /* Usamos flexbox para la disposición de los elementos dentro del cuadro */
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos dentro del cuadro */
}

.btn-continue {
  display: block; /* Muestra el botón como un bloque */
  width: 180px; /* Ancho del botón */
  padding: 14px; /* Añade espacio dentro del botón */
  margin: 40px auto 0; /* Añade margen superior e inferior */
  background-color: #000000; /* Color de fondo gris para el botón */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin borde para el botón */
  border-radius: 25px; /* Bordes redondeados para el botón */
  font-weight: bold; /* Establece el texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  font-size: 24px; /* Tamaño de la fuente */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.btn-exit {
  position: absolute; /* O usa fixed si quieres que permanezca fijo al hacer scroll */
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  width: 180px; /* Ancho del botón */
  padding: 14px; /* Añade espacio dentro del botón */
  background-color: #000000; /* Color de fondo gris para el botón */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Sin borde para el botón */
  border-radius: 25px; /* Bordes redondeados para el botón */
  font-weight: bold; /* Establece el texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  font-size: 24px; /* Tamaño de la fuente */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.form-group {
  width: 800px; /* Ancho del grupo de formulario */
  display: flex; /* Usamos flexbox para la disposición de los elementos dentro del grupo */
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos dentro del grupo */
  gap: 10px; /* Espacio entre los elementos dentro del grupo */
  background-color: #fff; /* Color de fondo blanco */
  border: 1px solid #333; /* Borde gris oscuro para delimitar el área del grupo */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px; /* Añade espacio interior */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total del elemento */
}

.form-group label {
  align-self: flex-start; /* Alinea la etiqueta al inicio del grupo */
  font-weight: bold; /* Establece el texto en negrita */
  margin-left: 5px; /* Añade un margen a la izquierda para separar de los bordes */
  font-size: 16px; /* Tamaño de la fuente */
}

input[type="text"],
input[type="password"] {
  width: 95%; /* Ancho del campo de entrada */
  padding: 10px; /* Añade espacio dentro del campo de entrada */
  border: 2px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  text-align: left; /* Alinea el texto a la izquierda */
}

  
  
