/*  
Autores: 
Axel Castañeda Sánchez 
Antonio Albuerne Silva
Alyn Layla Nila Vélez
Luis Roberto Rodríguez Marroquin 
Sebastián Villaluz Martínez
Daniela Zuno Aguilar

Descripción:   

*/

/* Estilo general del cuerpo de la página */
body {
  background-color: #fff;
  /* Fondo blanco para la página */
  font-family: Arial, sans-serif;
  /* Establece la fuente de la página */
}

/* Estilos para la sección principal */
section {
  width: auto px;
  /* Ancho fijo para la sección */
  margin: 10px auto;
  /* Centra la sección y añade un margen superior e inferior */
}

/* Contenedor principal que utiliza Flexbox para alinear los elementos */
.container {
  display: flex;
  /* Usamos Flexbox para organizar los elementos */
  align-items: center;
  /* Alineación vertical centrada */
  justify-content: space-between;
  /* Espaciado uniforme entre los elementos */
  width: auto;
  /* El ancho se ajusta al contenido */
  margin: 10px auto;
  /* Márgenes automáticos para centrar el contenedor */
}

/* Estilos para el título con iconos */
.icon-title {
  display: flex;
  align-items: center;
  gap: 15px;
  /* Espaciado entre iconos */
}

/* Estilo para cada icono */
.icon {
  width: 90px;
  /* Ancho de cada icono */
  height: 90px;
  /* Alto de cada icono */
  background-image: url('imagen/logo.png');
  /* Fondo con imagen de los iconos */
  border-radius: 40%;
  /* Bordes redondeados para darle forma circular */
}

/* Estilo del título principal */
.titulo-principal {
  font-size: 50px;
  /* Tamaño grande de la fuente */
  font-weight: bold;
  /* Texto en negrita */
  margin: 0;
  /* Eliminar márgenes */
}

/* Estilos para el contenedor 1 */
.container_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 10px auto;
}

/* Estilos para el contenedor 2 con posición absoluta */
.container_2 {
  position: absolute;
  /* Posicionamiento absoluto */
  top: 12px;
  right: 200px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Espacio entre Left y Right */
  align-items: flex-start; /* Alinear arriba */
  gap: 20px; /* Espacio entre ellos */
  padding: 20px;
}

/* Ajustamos para que Left y Right ocupen exactamente 50% cada uno */
.Left, .Right {
  background-color: #fff;
  flex: 1 1 0;
  width: 50%;
  padding: 20px;
  box-sizing: border-box; /* Para que el padding no afecte el ancho real */
}

.Left {
  padding: 20px;
  /* Espaciado interno */
}

.Right {
  padding: 20px;
  /* Espaciado interno */
}

/* Estilos para el contenedor 4 */
.container_4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 10px auto;
  grid-column: auto;
}

/* Barra de iconos con separación */
.icon-bar {
  display: flex;
  align-items: center;
  gap: 40px;
  /* Espaciado entre los iconos */
}

/* Estilo para los botones */
.btn {
  width: 90px;
  /* Ancho del botón */
  height: 90px;
  /* Alto del botón */
  background-color: #fff;
  /* Fondo blanco para el botón */
  background-image: url('imagen/logoregistro.png');
  /* Imagen de fondo para el botón */
  background-size: cover;
  /* Ajustar la imagen para que cubra el botón */
  border-radius: 40%;
  /* Bordes redondeados para el botón */
  border: none;
  /* Sin borde por defecto */
  cursor: pointer;
  /* Muestra un puntero cuando el cursor pasa sobre el botón */
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
  /* Hacer que el menú sea un bloque en línea */
}

.dropdown-content {
  display: none;
  /* Oculta el contenido del menú por defecto */
  position: absolute;
  background-color: #f9f9f9;
  /* Fondo gris claro para el menú */
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  /* Sombra alrededor del menú */
  z-index: 1;
  /* Asegura que el menú esté por encima de otros elementos */
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  color: black;
  /* Color negro para los enlaces */
}

.dropdown-content a:hover {
  background-color: #ddd;
  /* Fondo gris oscuro al pasar el ratón sobre los enlaces */
}

.dropdown:hover .dropdown-content {
  display: block;
  /* Muestra el menú al pasar el ratón sobre el contenedor */
}

/* Estilo para la barra */
.bar {
  width: 400px;
  height: 70px;
  background-color: #9c9898;
  /* Color gris para la barra */
  border-radius: 40px;
  /* Bordes redondeados */
}

/* Estilo para la imagen de fondo */
.image {
  width: auto;
  /* Ocupa el 100% del ancho de la ventana */
  height: 90vh;
  /* Ocupa el 100% del alto de la ventana */
  background-image: url('imagen/fondo.jpeg');
  /* Imagen de fondo */
  background-size: cover;
  /* Ajustar la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat;
  /* Evita la repetición de la imagen */
  background-position: center;
  /* Centra la imagen */
  margin: 0;
  padding: 0;
}

/* Estilo para el primer logo */
.logo_1 {
  width: 160px;
  height: 160px;
  background-image: url('imagen/logo_search.png');
  /* Fondo gris claro para el logo */
  background-size: cover;
  border-radius: 40%;
  /* Bordes redondeados para el logo */
  margin: 20px auto;
  /* Centra el logo con márgenes */
}

/* Estilo para el título de la sección */
.title {
  width: 1000px;
  height: 120px;
  border: 2px dashed #000000;
  /* Borde punteado negro */
  margin: 10px auto;
}

/* Estilo para el botón siguiente */
.next {
  background-color: #656464;
  /* Fondo gris oscuro para el botón */
  border-radius: 40px;
  /* Bordes redondeados */
  border: none;
  /* Sin borde por defecto */
  cursor: pointer;
  /* Muestra un puntero cuando el cursor pasa sobre el botón */
  margin: 10px auto;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  right: -40%;
  bottom: -10%;
  position: relative;
}

/* Estilo para el botón siguiente pequeño */
.next_1 {
  width: 120px;
  height: 50px;
  background-color: #656464;
  /* Fondo gris oscuro para el botón */
  border-radius: 40px;
  /* Bordes redondeados */
  border: none;
  /* Sin borde por defecto */
  cursor: pointer;
  /* Muestra un puntero cuando el cursor pasa sobre el botón */
}

/* Estilos para la parte superior con botones alineados */
.nexttop {
  display: flex;
  align-items: center;
  gap: 40px;
  /* Espaciado entre los elementos */
}

/* Estilo para el formulario */
.formulario {
  width: 95%;
  padding: 20px;
  background-color: #fff;
  /* Fondo blanco para el formulario */
  border-radius: 8px;
  /* Bordes redondeados para el formulario */
  text-align: center;
  /* Centrado del texto en el formulario */
}

/* Estilo para cada campo del formulario */
.campo {
  margin: 20px 0;
  /* Espaciado entre los campos */
}

/* Estilo para los inputs dentro del formulario */
.campo input {
  width: calc(100% - 22px);
  /* Ancho que ocupa todo el campo menos los bordes */
  padding: 10px;
  /* Espaciado interno */
  border: 1px solid #ddd;
  /* Borde gris claro */
  border-radius: 4px;
  /* Bordes redondeados */
}

/* Estilo para los campos dobles (para cuando hay dos inputs en una fila) */
.campos-dobles {
  display: flex;
  justify-content: space-between;
  /* Espaciado entre los campos */
}

/* Estilo para cada campo dentro de los campos dobles */
.campos-dobles .campo {
  width: 45%;
  /* Ancho de cada campo */
}

/* Estilo para el botón de cancelar */
.cancelar {
  background-color: #6c757d;
  /* Fondo gris para el botón */
  color: white;
  /* Texto blanco */
  padding: 10px 20px;
  /* Espaciado interno */
  border: none;
  /* Sin borde */
  border-radius: 4px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Muestra un puntero cuando el cursor pasa sobre el botón */
  margin-top: 20px;
  /* Margen superior */
  align-self: flex-end;
  /* Alinea el botón al final */
}

/* Estilo para el botón de cancelar al pasar el ratón sobre él */
.cancelar:hover {
  background-color: #5a6268;
  /* Cambio de color al pasar el ratón */
}

.accion {
  background-color: #e74c3c;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.text_style {
  text-align: center;
  justify-items: center;
  font-size: 20px;
  color: #453a3e;
}

.cuadro {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  background-color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}