<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="busqueda.css" />
    <title>Busqueda de citas</title>
  </head>
  <body>
    <section>
      <div class="container_1">
        <div class="icon-bar">
          <div class="icon"></div>
          <h1 class="titulo-principal">Hospital Qualitas</h1>
        </div>
        <div class="container_2">
          <div class="nexttop">
            <a href="{{ url_for('exit') }}">
              <button class="next">Salir</button>
            </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn"></button>
          <div class="dropdown-content">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('registro') }}">New user</a>
          </div>
        </div>
      </div>
      <div class="image">
        <div class="container_1">
          <div class="container_3">
            <div class="logo_1">
              <div class="logo_2"></div>
            </div>
            <div class="dashed-box">
              <div class="title"></div>
            </div>
            <div class="formulario">
              <div class="campos-dobles">
                <div class="campo">
                  <input type="nombre" id="nombres" placeholder="Nombres" />
                </div>
                <div class="campo">
                  <input
                    type="apellidos" id="primerapellido" placeholder="Primer Apellido">
                </div>
                <div class="campo">
                  <input type="apelidos" id="segundoapellido" placeholder="Segundo Apellido">
                </div>
              </div>
              <div class="campos-dobles">
                <div class="campo">
                  <input type="text" id="foliodecita" name="foliodecita" placeholder="Folio de cita" required />
                </div>
                <div class="campo">
                  <input type="email" id="correo" name="correo" placeholder="Correo" required />
                </div>
              </div>
              <form action="{{ url_for('procesar_cita') }}" method="POST">
                <input type="hidden" name="opcion" value="{{ opcion }}">
                <button class="next_1" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
