<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyles.css') }}">
  <title>Interfaz de Inicio de Sesión</title>

</head>
<body>
  <div class="left-side"></div>
  <div class="right-side">
    <a href="{{ url_for('exit') }}">
      <button class="btn-exit">Salir</button>
    </a>
    <div class="container">
      <div class="icon"></div>
      <div class="gray-box"></div>
      <div class="dashed-box">Texto</div>
      <input type="text" placeholder="Nombre o Correo">
      <input type="password" placeholder="contraseña">
      <button class="btn-continue">continuar</button>
    </div>
  </div>
</body>
</html>
