<!-- 
Autores: 
Axel Castañeda Sánchez 
Antonio Albuerne Silva
Alyn Layla Nila Vélez
Luis Roberto Rodríguez Marroquin 
Sebastián Villaluz Martínez
Daniela Zuno Aguilar

Descripción:   

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Enlace al archivo CSS para estilos específicos de esta página -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paciente.css') }}" />
    <title>Busqueda de citas</title> <!-- Título de la página -->
</head>

<body>
    <section>
        <!-- Contenedor principal -->
        <div class="container_1">
            <!-- Barra de iconos y título principal -->
            <div class="icon-bar">
                <div class="icon"></div> <!-- Espacio para un ícono -->
                <h1 class="titulo-principal">Busqueda de paciente</h1> <!-- Título principal -->
            </div>
            <!-- Contenedor para el botón de salir -->
            <div class="container_2">
                <div class="nexttop">
                    <a href="{{ url_for('docindex') }}"> <!-- Enlace para salir -->
                        <button class="next">Salir</button> <!-- Botón para salir -->
                    </a>
                </div>
            </div>
            <!-- Menú desplegable -->
            <div class="dropdown">
                <button class="btn"></button> <!-- Botón para abrir el menú -->
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Login</a> <!-- Enlace a la página de inicio de sesión -->
                    <a href="{{ url_for('registro') }}">New user</a> <!-- Enlace para registrar un nuevo usuario -->
                </div>
            </div>
        </div>
        <!-- Contenedor principal para la imagen y el formulario -->
        <!-- Sección de imagen y formulario -->
        <div class="image">
            <div class="container_1 flex-container">
                <!-- Lado Izquierdo -->
                <div class="Left">
                    <!-- Logo -->
                    <div class="logo_1"></div>
                    <!-- Formulario -->
                    <div class="formulario">
                        <div class="campos-dobles">
                            <div class="campo">
                                <input type="text" id="idpaciente" placeholder="Id del paciente" />
                            </div>

                        </div>

                        <form action="{{ url_for('procesar_cita') }}" method="POST">
                            <input type="hidden" name="opcion" value="{{ opcion }}">
                            <a href="" style="text-decoration: none;">
                                <div class="accion1">
                                    Continuar
                                </div>
                            </a>
                        </form>
                    </div>
                </div>

                <!-- Lado Derecho -->
                <div class="Right">
                    <div class="datos">
                        <h2 class="titulo1">Datos del paciente</h2>
                        <div class="datos-paciente1">
                            <h2 class="campos">Nombre:</h2>
                            <h2 class="campos">Primer Apellido:</h2>
                            <h2 class="campos">Segundo Apellido:</h2>

                        </div>
                        <div class="datos-paciente2">
                            <h2 class="campos"></h2>
                            <h2 class="campos"></h2>
                            <h2 class="campos"></h2>
                        </div>
                        <div class="datos-paciente3">
                            <h2 class="campos">Edad:</h2>
                            <h2 class="campos">Correo:</h2>
                            <h2 class="campos">Curp:</h2>
                        </div>
                        <div class="datos-paciente4">
                            <h2 class="campos"></h2>
                            <h2 class="campos"></h2>
                            <h2 class="campos"></h2>
                        </div>
                            <!-- Dos cajas punteadas en posición horizontal que dicen Alergias y Discapacidad-->
                            <div class="container-horizontal">
                            <div class="alergias">
                                <h2 class="campos">Alergias:</h2>
                            </div>
                            <div class="discapacidad">
                                <h2 class="campos">Discapacidad:</h2>
                            </div>
                        </div>
                        <form action="{{ url_for('procesar_cita') }}" method="POST">
                            <input type="hidden" name="opcion" value="{{ opcion }}">
                            <a href="" style="text-decoration: none;">
                                <div class="accion2">
                                    Historial
                                </div>
                            </a>
                        </form>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>

</html>