<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registrodoc.css') }}">
    <title>Registro</title>
</head>
<body>
    <button class="btn">Salir</button>
    <div class="container">
        <div class="circle"></div>
        <div class="bar"></div>
        <input type="text" class="full-width" placeholder="Número de cédula">
        <input type="text" placeholder="Nombres">
        <input type="text" placeholder="Primer Apellido">
        <input type="text" placeholder="Segundo Apellido">
        <input type="email" class="full-width" placeholder="Correo">
        <input type="email" class="full-width" placeholder="Confirmación de correo">
        <div class="confirm-buttons">
            <button class="confirm">Continuar</button>
        </div>
    </div>
</body>
</html>
