<!-- 
Autores: 
Axel Castañeda Sánchez 
Antonio Albuerne Silva
Alyn Layla Nila Vélez
Luis Roberto Rodríguez Marroquin 
Sebastián Villaluz Martínez
Daniela Zuno Aguilar

Descripción:   
Página de registro de usuario. Se solicitan datos personales del usuario, como nombre, apellidos y correo electrónico. 
Se incluye un botón para continuar con el registro y otro para registrarse como doctor.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Configuración básica del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlace al archivo CSS de estilos para el usuario -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userstyles.css') }}">

    <!-- Título de la página -->
    <title>New user</title>
</head>
<body>

    <!-- Contenedor principal -->
    <div class="container">

        <!-- Botón de salida que redirige a la función 'exit' -->
        <a href="{{ url_for('exit') }}" style="text-decoration: none;">
            <div class="exit_btn" style="text-align: center; color: #fff; font-size: 25px; font-weight: bolder; display: flex; align-items: center; justify-content: center; height: 50px;">Salir</div> <!-- Botón estilizado para salir -->
        </a>

    </div>

    <div class="container-body">

        <!-- Sección de imagen del perfil -->
        <div class="profile"></div>
        <div class="bar">
            <h1 class="titulo-principal">Nuevo Usuario</h1>
        </div>
        <div class="dashed-box">
            Información
        </div>
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="nombre">Nombres</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre">
                </div>
                <div class="form-group">
                    <label for="apellido1">Primer Apellido</label>
                    <input type="text" id="apellido1" name="apellido1" placeholder="Ingresa primer apellido">
                </div>
                <div class="form-group">
                    <label for="apellido2">Segundo Apellido</label>
                    <input type="text" id="apellido2" name="apellido2" placeholder="Ingresa segundo apellido">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" id="correo" name="correo" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <label for="confirmacion">Confirmación de Correo</label>
                    <input type="email" id="confirmacion" name="confirmacion" placeholder="Confirma tu correo">
                </div>
            </div>
            <div class="info">
                <div class="buttons">
                    <button class="btn" style="text-align: center; color: #fff; font-size: 25px; font-weight: bolder; display: flex; align-items: center; justify-content: center; height: 50px;">Continuar</button>
                    <a href="{{ url_for('newdoctor') }}" style="text-decoration: none;">
                        <button class="btn" style="text-align: center; color: #fff; font-size: 18px; font-weight: bolder; display: flex; align-items: center; justify-content: center; height: 50px;">Registro como doctor</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
